
.movie{
    margin-top: 20px;
    background-color: aliceblue;
    color:#5f5fe2;
    text-align: center;
}

.movie:hover{
    color: aliceblue;
    background-color: #5f5fe2;
}

.selected-movie{
    color: aliceblue;
    background-color: #498de1;
}