.movie{
    width:100%;
    text-align:center;
    border:1px solid;
    margin-bottom:10px;
    align-self: center;
    color: #5f5fe2;
    background-color: aliceblue;
    border-radius: 15px;

}

.movie:hover{
    color: aliceblue;
    background-color: #5f5fe2;
}