<mat-card>
  <mat-card-title>Movie's Details</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="movieForm">
      <mat-form-field>
        <input type="text" formControlName="name" matInput placeholder="Movie Name">
      </mat-form-field>

      <mat-form-field>
        <input type="text" formControlName="year" matInput placeholder="Release Date">
      </mat-form-field>

      <mat-form-field>
        <input type="text" formControlName="director" matInput placeholder="Director">
      </mat-form-field>

      <mat-form-field>
        <input type="text" formControlName="cast" matInput placeholder="Cast">
      </mat-form-field>

      <mat-form-field>
        <input type="text" formControlName="writers" matInput placeholder="Writers">
      </mat-form-field>

      <mat-form-field>
        <input type="text" formControlName="awards" matInput placeholder="Awards">
      </mat-form-field>

      <span style="font-size: 11px;color: darkgrey;margin-bottom: 5px;">Description</span>
      <textarea matInput style="max-height:130px;width: 90%;border: 1px solid grey;padding: 5px;"
        formControlName="description" placeholder="Description"></textarea>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div style="display: flex;width: 85%;justify-content: space-between; margin-left: 8%;;">

      <button [disabled]="!(movieForm.touched && movieForm.valid)" (click)="save()" mat-raised-button color="primary">Save Changes</button>
      <button [disabled]="!movieForm.touched"(click)="cancelChanges()" mat-raised-button color="warn">Cancel Changes</button>
      <button [disabled]="movie.id == -1" (click)="delete()" mat-raised-button color="accent">Delete Movie</button>
    </div>


  </mat-card-actions>
</mat-card>